body {
	font-family: sans-serif;
	color: #333;
	font-size: 1.2rem;
	line-height: 1.6em;
	margin: 0
}

h1 {
	line-height: 1.2em;
	font-size: 2rem
}

p {
	margin-bottom: 1.6em;
}


.header {
	background: #333;
	color: white;
	padding: 2rem 0rem;

	position: fixed;	// Lo saca hacia adelante, hay que agregar padding
	left: 0;
	top: 0;
	width: 100%;
}

	.header a {
		color: white;
		text-decoration: none;
	}


.main {
	padding-top: 8rem;
}

.container {
	width: 85%;
	max-width: 767px;
	margin: 0 auto;
}

.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.logo {
	letter-spacing: 5px;
	font-size: 1.3em;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

	.navigation ul li {
		display: inline-block;
	}

		.navigation ul li a {
			display: block;
			padding: 0.5rem 1rem;
			transition: all 0.3s linear;
			border-radius: 5px;
		}

			.navigation ul li a:hover {
				background: #555;
			}

.footer {
	padding: 4rem 0rem;
	background: #f2f2f2;
	text-align: center;
	margin-top: 4rem;
}